body {
    font-family: Helvetica, Arial, sans-serif;
}

.MainContainer {
    width: 320px;
    height: 480px;
    margin: 0 auto;
}

.Logo {
    height: 25px;
    width: 50%;
    /* background-image: url(/images/design_Limehome_Logo.svg);
    background-repeat: no-repeat; */
    float: left;
    margin-top: 8px;
    margin-left: 4px;
}

.Burger {
    height: 18px;
    background-image: url(/images/Burger_Icon.svg);
    background-repeat: no-repeat;
    float: right;
    width: 31px;
    padding: 3px 0;
    margin-top: 4px;
    margin-right: 6px;
    cursor: pointer;
    background-position: center;
}

.Header {
    height: 30px;
    padding: 3px;
    background-color: #ebeae6;
}
