.BookingPanel {
    position: relative;
}

.BookingPanelContainer {
    position: absolute;
    width: 200px;
    height: 480px;
    background-color: #e1e2e0;
    top: 44px;
    z-index: 11;
    opacity: 0.8;
    margin-left: 120px;
}

.BookingPanelContainer h5 {
    text-align: center;
}

.BookingPanelContainer ul {
    list-style-type: none;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
}

.BookingPanelContainer ul li {
    border-bottom: 1px solid rgb(161, 161, 161);
    padding-top: 6px;
}

.BookingPanelContainer ul p {
    font-size: 11px;
}

.BookingPanelContainer ul b {
    font-size: 14px;
} 